PORT=4000
NODE_ENV=development

ODOO_URL=https://your-instance.odoo.com
ODOO_DB=your_db
ODOO_USER=admin@example.com
ODOO_PASSWORD=your_password

JWT_SECRET=change_me_in_prod
JWT_EXPIRES_IN=8h
REFRESH_SECRET=change_me_refresh
REFRESH_EXPIRES_IN=7d

CORS_ORIGINS=http://localhost:3000,https://your-app.com
REDIS_URL=redis://localhost:6379